<h1>Back a </h1>
<%= form_for [@project, @pledge] do |f| %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
  	<%= f.submit "Pledge now!" %>
  </div>
<% end %>